@use '../settings/' as *;

.banner {

    --Ibase64: var(--base64);
    --lcpi: var(--small-lcpi);
    --original: var(--small);

    display: grid;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    background-image: var(--original), var(--lcpi), var(--Ibase64);
    padding-block: var(--header-heigth);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #020202c3;
    }


    &__contenido {
        // background-color: crimson;

    }

    @include media-Query(tablet){
        --lcpi: var(--large-lcpi);
        --original: var(--large);
    }


}