---
import Cursos from "../../data/GetDataCursos";
import { Icon } from "astro-icon/components";
import FormBanner from "./FormBanner.jsx";

const cursosArray = ['Seleccionar curso'];

Cursos.map(({ titulo }) => {
    cursosArray.push(titulo);
});
---

<FormBanner client:load itemsProgramas={cursosArray}>
    <Icon name="CheckIcon" size={50} color="#12CB54" slot="iconCheck" />
    <div slot="redes">
        <a
            class="RedesSociales-Icon"
            href="https://www.facebook.com/people/Instituto-de-Formaci%C3%B3n-Tecnol%C3%B3gica-IFT/61555145250465/"
            aria-label=`Ir a la nuestro facebook`
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon name="facebook" size={30} color="blue"/>
        </a>
        <a
            class="RedesSociales-Icon"
            href="https://www.youtube.com/channel/UCesc5xJfVHuvT6k401bGlcg"
            aria-label=`Ir a la nuestro canal de Youtube`
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon name="Youtube" size={30} color="red"/>
        </a>
        <a
            class="RedesSociales-Icon"
            href="https://www.instagram.com/institutoift/?igsh=NTc4MTIwNjQ2YQ%3D%3D"
            aria-label=`Ir a la nuestro Instagram`
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon name="instagram-2016" size={28} stroke="linear-gradient(to right, red, blue);">
        </a>
    </div>
</FormBanner>

<style>
    .Redes-Container {
        display: flex;
        gap: 1rem;
    }
</style>
