---
import Cursos from "../../data/GetDataCursos";
import { Icon } from "astro-icon/components";
import FormBanner from "./FormBanner.jsx";


const cursosArray = [];

Cursos.map(({ titulo }) => {
    cursosArray.push(titulo);
});

---


<FormBanner client:load itemsProgramas={cursosArray}> 
    <Icon name="CheckIcon" size={50} color="#12CB54" slot="iconCheck">
</Form>
