.button{
    padding: .75em 1.6em;
    border-radius: .25em;
    font-weight: 500;
    

    &--accent{
        background-color: var(--green-500);
    }

    &--center{
        display: block;
        margin-inline: auto;
        text-align: center;
        width: max-content;
    }

    &--content{
        width: fit-content;
    }

    &--primary{
        background-color: var(--blue-600);

        &:hover{
            background-color: var(--blue-800);
        }
    }

    &--navigation{
        
        padding: .5em 1.2em;
        font-weight: 400;

        
    }
}