---
import Layout from "../layout/Layout.astro";
import BannerData from "../data/BannerData";
import Formulario from "../components/Formulario/Formulario.astro";
import Cursos from "../data/GetDataCursos";
import BannerCurso from "../components/BannerCurso.astro";
const {imagen } = BannerData.contacto.imagenesBanner;

const cursosArray = [];

Cursos.map(({titulo})=>{
    cursosArray.push( titulo );
})

---

<Layout titulo="contacto" descripction="contactate con nosotros, mediante nuestras redes ">
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`img/${imagen}-small-lcpi.avif`
        media="(max-width: 640px)"
        type="image/webp"
    />
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`img/${imagen}-large-lcpi.avif`
        media="(min-width: 641px)"
        type="image/webp"
    />
    <BannerCurso {...BannerData.contacto} slot="Banner"/>
    <section>
        <div class="wrapper" style="place-items: center;">
            <h2 class="titleSection">Ponte en Contacto</h2>
            <Formulario  itemsProgramas={cursosArray}/>
        </div>
    </section>
</Layout>