---
import Button from "./Button.astro";
import SectionPage from "./SectionPage.astro";
import Typografic from "./Typografic.astro";
import Wrapper from "./Wrapper.astro";
---

<SectionPage variant="theme2">
    <Wrapper classBlock="split split--bottom-rigth" colors="white" variant="medium">
        <div class="textFlow">
            <Typografic as="h2" size="title1" weigth="700" variant="colorBlue">25 Años De Experiencia en Balanzas</Typografic>
            <Typografic as="p" variant="colorBlack">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus aperiam, obcaecati veniam autem pariatur est aspernatur deleniti voluptatibus recusandae atque, maiores ducimus. Quibusdam recusandae expedita deserunt maxime, incidunt magnam!</Typografic>
            <Button href="https://ift.pe/" target="_blank" variant="theme1" size="content" >Ver malla</Button>
        </div>
        <picture>
            <img src="/img/about2.avif" alt="about1" style="aspect-ratio: 1" />
        </picture>
    </Wrapper>
</SectionPage>

<SectionPage variant="theme1">
    <Wrapper classBlock="split split--bottom-left" colors="white" variant="medium">
        <div class="textFlow">
            <Typografic as="h2" size="title1" weigth="700" variant="colorBlue">25 Años De Experiencia en Balanzas</Typografic>
            <Typografic as="p" variant="colorBlack">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus aperiam, obcaecati veniam autem pariatur est aspernatur deleniti voluptatibus recusandae atque, maiores ducimus. Quibusdam recusandae expedita deserunt maxime, incidunt magnam!</Typografic>
            <Button href="https://ift.pe/" target="_blank" variant="theme1" size="content" >Ver malla</Button>
        </div>
        <picture>
            <img src="/img/about2.avif" alt="" style="aspect-ratio: 1" />
        </picture>
    </Wrapper>
</SectionPage>





<style lang="scss">
    .parrafo {
        color: rgb(69, 79, 95);
    }
</style>
