---
import SplitLayout from "./SpliLayout.astro";
---

<section>
    <div class="wrapper">
        <h2 class="titleSection">Sobre Nosotros</h2>
        <SplitLayout imagen="about" >
            <p class="parrafo">
                IFT es una empresa especializada en capacitaciones tecnológicas.
                Con nuestro RUC 20611910224, ofrecemos programas de formación de
                vanguardia en diversas áreas de la tecnología, desde desarrollo
                de software hasta ciberseguridad.
            </p>
        </SplitLayout>
        <SplitLayout orderContainer="Right" imagen="about2">
            <p class="parrafo">
                Nuestros cursos, impartidos por expertos en la materia, están
                diseñados para satisfacer las demandas del mercado laboral
                actual y proporcionar a nuestros estudiantes las habilidades
                necesarias para destacarse en la industria.
            </p>
        </SplitLayout>
    </div>
</section>

<style lang="scss">
    .parrafo {
        color: rgb(69, 79, 95);
    }
</style>
