---
import SplitLayout from "./SpliLayout.astro";
import Typografic from "./Typografic.astro";
import Wrapper from "./Wrapper.astro";
---

<section>
    <Wrapper>
        <Typografic as="h2" variant="colorBlue" size="title1" aling="center" weigth="700">Sobre Nosotros</Typografic>
        <SplitLayout imagen="about" >
            <Typografic as="p" variant="colorBlack">
                IFT es una empresa especializada en capacitaciones tecnológicas.
                Con nuestro RUC 20611910224, ofrecemos programas de formación de
                vanguardia en diversas áreas de la tecnología, desde desarrollo
                de software hasta ciberseguridad.
            </Typografic>
            <a
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                aria-label={`Click para abrir el whatsapp`}
                class="boton--primary"
                target="_blank"
                >Contactanos
            </a>
        </SplitLayout>
        <SplitLayout orderContainer="Right" imagen="about2">
            <p class="parrafo">
                Nuestros cursos, impartidos por expertos en la materia, están
                diseñados para satisfacer las demandas del mercado laboral
                actual y proporcionar a nuestros estudiantes las habilidades
                necesarias para destacarse en la industria.
            </p>
            <a
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                aria-label={`Click para abrir el whatsapp`}
                class="boton--primary"
                target="_blank"
                >Contactanos
            </a>
        </SplitLayout>
    </Wrapper>
</section>

<style lang="scss">
    .parrafo {
        color: rgb(69, 79, 95);
    }
</style>
