---
import HabilidadesData from "../data/Habilidades.json";
import ItemBeneficio from "./ItemBeneficio.astro";
import Wrapper from "./Wrapper.astro";
---

<section class="sectionColor2">
    <Wrapper>
        <h2 class="titleSection">Beneficios</h2>
        <div class="Habilidades-Container">
            {
                HabilidadesData.map(({ icono, texto }, index) => {
                    return (
                        <ItemBeneficio
                            nameIcon={icono}
                            texto={texto}
                            styleSplit="Scroll-Fade"
                            inlineStyle={`--delay: ${index * 220}ms`}
                        />
                    );
                })
            }
        </div>
    </Wrapper>
</section>

<style lang="scss">
    .Habilidades-Container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        margin-inline: auto;
    }
</style>
