---
import Button from "./Button.astro";
import Typografic from "./Typografic.astro";
import Wrapper from "./Wrapper.astro";
---

<section class="animation-loader" data-cta>
    <Wrapper classBlock="Cta" colors="white">
        <Typografic as="h2" size="superTitle" weigth="700" >! Creamos tu Sitio Web ¡</Typografic>
        <Typografic as="p" classBlock="Cta__parrafo">¿Tiene alguna pregunta? Siempre estamos abiertos a hablar sobre su
            tus cursos, nuevos inicios, dificultades, oportunidades creativas y
            cómo podemos ayudarlo.</Typografic>            
        </p>
        <Button href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0" class="Cta__btnContacto boton--primary" target="_blank" variant="theme1">
            WhatsApp
        </Button>
    </Wrapper>
</section>

<style lang="scss">
    section {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        padding-block: 0;

        &.background {
            background-image: url("/img/cta.webp");
            background-color: #100077c3;
            background-blend-mode: color;
        }
    }

    .Cta {
        display: grid;
        min-height: 90vh;
        min-height: 90svh;
        justify-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        gap: 1.5rem;
        text-align: center;

        &__btnContacto {
            margin-top: .5rem;
        }

        &__parrafo {
            // text-align: center;
            text-wrap: balance;
        }
    }
    .Cta-Titulo {
        white-space: pre-line;
    }
</style>
