---
import { Icon } from "astro-icon/components";
import CardCurso from "./CardCurso.astro";
import Wrapper from "./Wrapper.astro";
import SectionPage from "./SectionPage.astro";
import Typografic from "./Typografic.astro";
import { getCollection } from "astro:content";

const colectionCurso = await getCollection("curso");
---


<SectionPage variant="theme2">
    <Wrapper>
        <Typografic
            as="h2"
            variant="colorBlue"
            aling="center"
            size="titleSection"
            weigth="700">Cursos</Typografic
        >
        <div class="carrusel-product">
            <button class="carrusel-product__btnPrev">
                <Icon name="ArrowIcon" size={18} />
            </button>
            <div class="carrusel-product__track">
                {
                    colectionCurso.map(({ data }) => {
                        return (
                            <CardCurso
                                titulo={data.titulo}
                                descripcion={data.descripcion}
                                url={data.url}
                                imagenes={data.images}
                            />
                        );
                    })
                }
            </div>
            <button class="carrusel-product__btnNext">
                <Icon name="ArrowIcon" size={18} />
            </button>
        </div>
    </Wrapper>
</SectionPage>
