---
import { Icon } from "astro-icon/components";
import DataCursos from "../data/GetDataCursos";
import CardCurso from "./CardCurso.astro";
import Wrapper from "./Wrapper.astro";
---

<section>
    <Wrapper>
        <h2 class="titleSection">Cursos</h2>
        <div class="carrusel-product">
            <button class="carrusel-product__btnPrev">
                <Icon name="ArrowIcon" size={18} />
            </button>
            <div class="carrusel-product__track">
                
                {
                    DataCursos.map(({ titulo, descripcion, url, imagenes }) => {
                        return (
                            <CardCurso
                                titulo={titulo}
                                descripcion={descripcion}
                                url={url}
                                imagenes={imagenes}
                            />
                        );
                    })
                }
                
            </div>
            <button class="carrusel-product__btnNext">
                <Icon name="ArrowIcon" size={18} />
            </button>
        </div>
    </Wrapper>
</section>
