---
import { Icon } from 'astro-icon/components';
interface Props {
    nameIcon: string;
    texto: string;
}


const {nameIcon, texto} = Astro.props;
---


<article class="Skill">
    <span style="">
        <Icon class="Skill__Icon" name={nameIcon} size={70}/>
    </span>
    <p class="Skill__texto">{texto}</p>
</article>

<style lang="scss" >
    .Skill{
        flex-basis: 40%;
        padding: 1rem .5rem;
        display: flex;
        min-width: 130px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: white;
        border-radius: .5rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);


        @media screen and (width > 768px) {
            flex-basis: 22%;
        }
    }

    .Skill__Icon{

        color: var(--color-Primary500);
        background-color: var(--color-Primary100);
        border-radius: 50%;
        padding: 0.7rem;
    }

    .Skill__texto{
        text-align: center;
        white-space: pre-line;
    }
</style>