---
import SplitLayout from "./SpliLayout.astro";
---

<section>
    <div class="wrapper">
        <h2 class="titleSection">Vision</h2>
        <SplitLayout imagen="about" placeholder="about-sxx.webp">
            <p class="parrafo">
                En IFT, nos comprometemos a ser líderes en la capacitación tecnológica, proporcionando cursos y talleres de alta calidad que impulsen el desarrollo profesional y personal de nuestros clientes y estudiante.
            </p>
        </SplitLayout>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2 class="titleSection">Mision</h2>
        <SplitLayout imagen="about2" placeholder="about2-sxx.webp" orderContainer="Right">
            <p class="parrafo">
                Nuestra misión es brindar una experiencia educativa innovadora y accesible, adaptada a las necesidades del mundo moderno, que permita a individuos y organizaciones adquirir y mejorar sus habilidades tecnológicas de manera efectiva.
            </p>
        </SplitLayout>
    </div>
</section>

<style lang="scss">
    .parrafo {
        color: rgb(69, 79, 95);
    }
</style>
