---
import SplitLayout from "./SpliLayout.astro";
---

<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about">
            <h2 class="titleSection" style="text-align: start;">Vision</h2>
            <p class="parrafo">
                En IFT, nos comprometemos a ser líderes en la capacitación tecnológica, proporcionando cursos y talleres de alta calidad que impulsen el desarrollo profesional y personal de nuestros clientes y estudiante.
            </p>
            <a
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                aria-label={`Click para abrir el whatsapp`}
                class="boton--primary"
                target="_blank"
                >Contactanos
            </a>
        </SplitLayout>
    </div>
</section>
<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about2" orderContainer="Right">
            <h2 class="titleSection" style="text-align: start;">Mision</h2>
            <p class="parrafo">
                Nuestra misión es brindar una experiencia educativa innovadora y accesible, adaptada a las necesidades del mundo moderno, que permita a individuos y organizaciones adquirir y mejorar sus habilidades tecnológicas de manera efectiva.
            </p>
            <a
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                aria-label={`Click para abrir el whatsapp`}
                class="boton--primary"
                target="_blank"
                >Contactanos
            </a>
        </SplitLayout>
    </div>
</section>

<style lang="scss">
    .parrafo {
        color: rgb(69, 79, 95);
    }
</style>
