---

type order = "Left" | "Right";
interface Props {
    orderContainer?: order;
}

const { orderContainer = "Left"} = Astro.props;
---

<article class="Split-Container">
    <div class:list={["contenido", { order: orderContainer === "Right" }]}>
        <slot/>
    </div>
    <slot name="imagen" />
</article>

<style lang="scss">
    .Split-Container {
        display: grid;
        grid-template-columns: 1fr;
        width: min(100%, 850px);
        margin-inline: auto;
        gap: 2rem;
        @media (width > 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .Imagen-Container {
        overflow: hidden;
        aspect-ratio: 16/9;
        border-radius: 0.5rem;
        min-height: 100%;
        position: relative;

        &.animation-loader {
            background-color: #d7e1e7;
            animation: loader 1.5s infinite alternate;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #d7e1e7;
        }

        &.loaderOk::after {
            content: none;
        }

        @media (width > 768px) {
            aspect-ratio: 1/1;
        }
    }

    .Split__Imagen {
        background-color: #d7e1e7;

        filter: saturate(0.8);
        transition:
            transform 0.3s,
            filter 0.3s;

        &:hover {
            transform: scale(1.07);
            filter: saturate(1);
        }
    }

    .contenido {
        min-height: 100%;
        align-content: center;
    }

    .order {
        order: 0;
        @media (width > 768px) {
            order: 1;
        }
    }
</style>
