---
import TikTokVideo from '@/components/TikTokVideo.astro';
---

<section class="section-page">
   <div class="wrapper container">
      <div class="container__content">

         <h2 class="container__title font-bebas-neue">Conocenos más</h2>
         <p>IFT es una empresa especializada en capacitaciones tecnológicas. Con nuestro RUC 20611910224, ofrecemos programas de formación de vanguardia en diversas áreas de la tecnología, desde desarrollo de software hasta ciberseguridad.</p>
      </div>
      <div class="container__media">
         <TikTokVideo
            videoId="7425773200774073605"
            thumbnailUrl="/img/tiktok-video.jpg"
            title="La relación de Ibai con Marcos"
         />
      </div>
   </div>
</section>

<style lang="scss">
   .container {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 1.5rem;
      // color: white;

      @media (width >= 768px) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      &__title {
         font-size: clamp(2.861rem, 2.6975rem + 0.8174vw, 3.4332rem);
      }

      &__content {
         // background-color: crimson;
         align-self: center;
         display: flex;
         flex-direction: column;
         gap: 0.5rem;
         //  order: 1;
      }

      

   }
</style>
