---
import Button from '@/components/Button.astro';
import Typografic from '@/components/Typografic.astro';
---

<section>
   <div class="Cta bg-blue-800">
      <Typografic
         as="h2"
         size="superTitle"
         classes="Cta__title"
         family={'bebas'}
         style={{lineHeight: '1'}}
         color={'white'}>!Diseñamos tu Sitio Web¡</Typografic
      >
      <Typografic as="p" classes="Cta__parrafo" color={'white'}
         >¡Creamos sitios web personalizados que capturan tu esencia y destacan
         en el mercado! Dale vida a tu visión con un diseño único y funcional.</Typografic
      >
      <Button
         as="a"
         href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
         target="_blank"
         size={'content'}
         theme="theme2">Mas Información</Button
      >
   </div>
   <div>
      <img
         class="container__img"
         src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
         alt="img1"
      />
   </div>
</section>

<style lang="scss">
   section {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: #fff;
      padding-block: 0;
      display: grid;
      
      @media (width >= 768px){
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }
   }

   .Cta {
      display: grid;
      align-content: center;
      gap: 1.5rem;
      padding-block: var(--padding-section);
      padding-inline: var(--wrapper-margin);
      

      @media (width >= 768px){
         padding-inline: 7vmin 7rem;
      }


      &__title {
         max-width: 15ch;
      }

      &__btnContacto {
         margin-top: 0.5rem;
      }

      &__parrafo {
         max-width: 70ch;
      }
   }
   

   .container__img{
      min-height: 100%;
   }
</style>
