---
import Button from "@/components/Button.astro";
import Typografic from "@/components/Typografic.astro";
import Wrapper from "@/components/Wrapper.astro";
---

<section class="animation-loader" data-cta>
    <Wrapper classBlock="Cta" colors="white">
        <Typografic as="h2" size="superTitle" weigth="700" >! Creamos tu Sitio Web ¡</Typografic>
        <Typografic as="p" classBlock="Cta__parrafo">¡Creamos sitios web personalizados que capturan tu esencia y destacan en el mercado! Dale vida a tu visión con un diseño único y funcional.</Typografic>            
        <Button href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0" class="Cta__btnContacto boton--primary" target="_blank" variant="theme1">
            WhatsApp
        </Button>
    </Wrapper>
</section>

<style lang="scss">
    section {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        padding-block: 0;

        &.background {
            background-image: url("/img/mockup.webp");
            background-color: #100077c3;
            background-blend-mode: color;
        }
    }

    .Cta {
        display: grid;
        min-height: 90vh;
        min-height: 90svh;
        justify-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        gap: 1.5rem;
        text-align: center;

        &__btnContacto {
            margin-top: .5rem;
        }

        &__parrafo {
            
            text-wrap: balance;
            max-width: 700px;
        }
    }
    .Cta-Titulo {
        white-space: pre-line;
    }
</style>

<script>
    document.addEventListener("astro:page-load", function () {
        const sectionCTA =
            document.querySelectorAll<HTMLImageElement>(
                "section[data-cta]",
            );

        const imgOptionsCTA = {
            rootMargin: `0px 0px 700px 0px`,
        };
        const imgObserverCTA = new IntersectionObserver(
            (entries, imgObserver) => {
                entries.forEach((entry) => {
                    if (!entry.isIntersecting) return;

                    const CTA = entry.target as HTMLElement;
                    CTA.classList.remove("animation-loader");
                    CTA.classList.add("background");
                    imgObserver.unobserve(entry.target);
                });
            },
            imgOptionsCTA,
        );

        sectionCTA.forEach((img) => {
            imgObserverCTA.observe(img);
        });
    });
</script>