---
import FormNew from '@/components/FormNew.astro';
import type { ImageBanner } from '@/interface/Cursos';
import { getImage } from 'astro:assets';

let backgroundImageUrl : string;


interface Props {
   titulo : string;
   descripcion: string;
   textButton?: string;
   imageBackground: ImageMetadata | ImageBanner;
   arrayCursos : string[];
}

const { titulo , descripcion , textButton , imageBackground, arrayCursos } = Astro.props;

if ('mediaItemUrl' in imageBackground){
   backgroundImageUrl = imageBackground.mediaItemUrl;
}else {
   const desktopImg = await getImage({
      src: imageBackground,
      format: 'webp',
      width: 700,
      quality: 60,
   });
   backgroundImageUrl = desktopImg.src;
}

---

<section class="hero-img" style={`background-image: url(${backgroundImageUrl});`}>
   <div class="wrapper container">
      <div class="container__content color-white-000">
         <h1 class="fs-super-title-1 font-bebas-neue" style="line-height: 1;"  >{ titulo }</h1>
         <p>{ descripcion }</p>
         <a class="button button--primary button--content" href="#">{ textButton }</a>
      </div>

      <div class="container__form">

          <h2>Inscribete</h2>  
          <FormNew type="cursos" {arrayCursos} />
      </div>
   </div>
</section>

<style lang="scss">
   .hero-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.732);
      background-blend-mode: overlay;
      

   }

   .container {
      display: grid;
      gap: 2.25rem;
      border-radius: 0.5rem;
      min-height: 100svh;
      align-items: center;
      padding-block: 8rem;

      &__content {
         display: flex;
         flex-direction: column;
         gap: 1.2rem;
         align-items: center;
         text-align: center;
         
         > h1, p {
            max-width: 70ch;
         }

         @media (width >= 1024px) {
            align-items: start;
            text-align: start;
      }

      }

      @media (width >= 1024px) {
         grid-template-columns: 1fr clamp(320px, 32vw, 450px);
         // margin-top: -250px;
      }

      &__form{
        background-color: white;
        padding: 1.5rem;
        border-radius: .5rem;
        
        > h2 {
            margin-bottom: 1.5rem;
            text-align: center;
        }
      }
   }
</style>
