---
import SectionPage from "@/components/SectionPage.astro";
import { getCollection } from "astro:content";
import Typografic from "@/components/Typografic.astro";
import Button from "@/components/Button.astro";
import PictureImg from "@/components/atoms/PictureImg.astro";
import SplitLayout from "@/components/moleculs/SplitLayout.astro";
const colectionCurso = (await getCollection("curso")).map(({ data }) => data);




---

{
    colectionCurso.map(({ titulo, descripcion, url, images }, index) => (
        <SectionPage  {...((index + 1) % 2 === 0 ? {variant: 'theme1'} : {variant: 'theme2'})}>
            <SplitLayout
                directionContent={(index + 1) % 2 === 0 ? 'bottomRigth' : 'bottomLeft'}
                colors="white"
                variantWrapper="medium"
            >
                <div class="textFlow">
                    <Typografic
                        as="h2"
                        size="title1"
                        weigth="700"
                        variant="colorBlue"
                    >
                        {titulo}
                    </Typografic>
                    <Typografic as="p" variant="colorBlack">{descripcion}</Typografic>
                    <Button
                        href={`${url}/#malla-curricular`}
                        variant="theme1"
                        size="content"
                    >
                        Ver malla
                    </Button>
                </div>
                <PictureImg {...images} style={{position: 'relative'}} />
            </SplitLayout>
        </SectionPage>
    ))
}

