---
import Acordeon from '@/components/Acordeon.astro'
import type { Image, Modulo } from '@/interface/Cursos'


interface Props  {
    modulos : Modulo[];
    imagen : Image;
    id: string;
}

const { modulos, imagen , id} = Astro.props;
const {  mediaItemUrl, mediaDetails } = imagen;

---


<section class="section-page bg-color-blue-100" id="malla-curricular" >
    <div class="wrapper section-page-flow">
        <h2 class="font-bebas-neue fs-super-title-2">Malla Curricular</h2>
        <div style="container-type: inline-size;">
            <div class="container">
                <div class="container__content">
                    {
                        modulos.map( (mod, indexModulo) => (
                            <h3 >Modulo {indexModulo + 1} : { mod.idModulo }</h3>
                            <ul class="container__list">
                                {
                                    mod.semanas.map( (sem, indexSemana) => (
                                        <li class="">
                                            <Acordeon 
    
                                            numSemana={indexSemana + 1} 
                                            temas={sem.temas}
                                            open={(  indexSemana === 0) ? true : false }
                                               />
                                        </li>
                                        
                                    ))
                                }
                             
                            </ul>
                        ) )
                    }
                </div>
                <div class="container__media">
                    <img 
                    src={ mediaItemUrl } 
                    alt={ id} 
                    style={ ` aspect-ratio : ${ mediaDetails.width } /  ${ mediaDetails.height } ` }  >
                </div>
    

            </div>
        </div>
       
    </div>
</section>

<style lang="scss">

    .container{

        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 1.5rem;

        @container (width >= 768px){
            grid-template-columns: minmax(0, 1fr) clamp(320px, 35vw, 450px);
        }

        &__content{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }

        &__list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__media {
            position: sticky;
            top: 80px;
            align-self: start;
            overflow: hidden;
            border-radius: .5rem;
            
        }
    }

</style>