---
import SplitLayoutsvg from "../components/SplitLayoutsvg.astro";
---

<section>
    <div class="wrapper">
        <SplitLayoutsvg styleSplit="Scroll-Fade">
            <div slot="CONTENIDO" class="contenido Order-Top-Left">
                <h3 style="text-align: start;">
                    Diseño Personalizado
                </h3>
                <p class="parrafo">
                    Creación de sitios web a medida según las necesidades y
                    requisitos específicos del cliente.
                </p>
                <a
                    href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                    aria-label={`Click para abrir el whatsapp`}
                    class="boton--primary"
                    target="_blank"
                    >Solicitar
                </a>
            </div>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_heatmap_uyye.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section class="sectionColor2">
    <div class="wrapper">
        <SplitLayoutsvg styleSplit="Scroll-Fade">
            <div slot="CONTENIDO" class="contenido Order-Top-Rigth">
                <h3 style="text-align: start;">
                    Versión Móvil
                </h3>
                <p class="parrafo">
                    Diseño web autoadministrable adaptado para visualización
                    desde dispositivos móviles, tablets y PC
                </p>
                <a
                    href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                    aria-label={`Click para abrir el whatsapp`}
                    class="boton--primary"
                    target="_blank"
                    >Solicitar
                </a>
            </div>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_responsive_re_e1nn.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section>
    <div class="wrapper">
        <SplitLayoutsvg styleSplit="Scroll-Fade">
            <div slot="CONTENIDO" class="contenido Order-Top-Left">
                <h3 style="text-align: start;">
                    Redes sociales
                </h3>
                <p class="parrafo">
                    Tu web estará vinculada a tus redes sociales, la cual te
                    servirá par dar a conocer tu marca a la mayor cantidad de
                    personas.
                </p>
                <a
                    href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                    aria-label={`Click para abrir el whatsapp`}
                    class="boton--primary"
                    target="_blank"
                    >Solicitar
                </a>
            </div>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_social_notifications_re_xcbi.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section class="sectionColor2">
    <div class="wrapper">
        <SplitLayoutsvg styleSplit="Scroll-Fade">
            <div slot="CONTENIDO" class="contenido Order-Top-Rigth">
            <h3 style="text-align: start;">
                Soporte continuo y personalizado
            </h3>
            <p class="parrafo">
                Disfruta de asistencia dedicada para realizar cambios,
                actualizaciones y mejoras en tu sitio web. Estamos aquí para
                garantizar que tu presencia en línea esté siempre en su mejor
                forma.
            </p>
            <a
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                aria-label={`Click para abrir el whatsapp`}
                class="boton--primary"
                target="_blank"
                >Solicitar
            </a>
        </div>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_pair_programming_re_or4x.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>

<style lang="scss">
    .Split__Imagen {
        height: auto;
        min-height: auto;
    }

    .contenido {
        min-height: 100%;
        align-content: center;
        display: grid;
        gap: 1rem;
    }
    
</style>
