---
import SplitLayout from "../components/SpliLayout.astro";
---


<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about" placeholder="about-sxx.webp">
            <h2 class="titleSection" style="margin-bottom: 2rem ; text-align: start;">Diseño Personalizado</h2>
            <p class="parrafo">
                Creación de sitios web a medida según las necesidades y requisitos específicos del cliente.
            </p>
        </SplitLayout>
    </div>
</section>
<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about2" placeholder="about2-sxx.webp" orderContainer="Right">
            <h2 class="titleSection" style="margin-bottom: 2rem ; text-align: start;">Versión Móvil</h2>
            <p class="parrafo">
                Diseño web autoadministrable adaptado para visualización desde dispositivos móviles, tablets y PC
            </p>
        </SplitLayout>
    </div>
</section>
<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about" placeholder="about-sxx.webp">
            <h2 class="titleSection" style="margin-bottom: 2rem ; text-align: start;">Redes sociales</h2>
            <p class="parrafo">
                Tu web estará vinculada a tus redes sociales, la cual te servirá par dar a conocer tu marca a la mayor cantidad de personas.
            </p>
        </SplitLayout>
    </div>
</section>
<section>
    <div class="wrapper">
        
        <SplitLayout imagen="about2" placeholder="about2-sxx.webp" orderContainer="Right">
            <h2 class="titleSection" style="margin-bottom: 2rem ; text-align: start;">Soporte continuo y personalizado</h2>
            <p class="parrafo">
                Disfruta de asistencia dedicada para realizar cambios, actualizaciones y mejoras en tu sitio web. Estamos aquí para garantizar que tu presencia en línea esté siempre en su mejor forma.
            </p>
        </SplitLayout>
    </div>
</section>