---
import SplitLayoutsvg from "../components/SplitLayoutsvg.astro";
---

<section>
    <div class="wrapper">
        <SplitLayoutsvg>
            <h2
                class="titleSection"
                style="margin-bottom: 2rem ; text-align: start;"
            >
                Diseño Personalizado
            </h2>
            <p class="parrafo">
                Creación de sitios web a medida según las necesidades y
                requisitos específicos del cliente.
            </p>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_heatmap_uyye.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section>
    <div class="wrapper">
        <SplitLayoutsvg orderContainer="Right">
            <h2
                class="titleSection"
                style="margin-bottom: 2rem ; text-align: start;"
            >
                Versión Móvil
            </h2>
            <p class="parrafo">
                Diseño web autoadministrable adaptado para visualización desde
                dispositivos móviles, tablets y PC
            </p>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_responsive_re_e1nn.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section>
    <div class="wrapper">
        <SplitLayoutsvg >
            <h2
                class="titleSection"
                style="margin-bottom: 2rem ; text-align: start;"
            >
                Redes sociales
            </h2>
            <p class="parrafo">
                Tu web estará vinculada a tus redes sociales, la cual te servirá
                par dar a conocer tu marca a la mayor cantidad de personas.
            </p>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_social_notifications_re_xcbi.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>
<section>
    <div class="wrapper">
        <SplitLayoutsvg orderContainer="Right">
            <h2
                class="titleSection"
                style="margin-bottom: 2rem ; text-align: start;"
            >
                Soporte continuo y personalizado
            </h2>
            <p class="parrafo">
                Disfruta de asistencia dedicada para realizar cambios,
                actualizaciones y mejoras en tu sitio web. Estamos aquí para
                garantizar que tu presencia en línea esté siempre en su mejor
                forma.
            </p>
            <img
                slot="imagen"
                class="Split__Imagen"
                src={`/img/undraw_pair_programming_re_or4x.svg`}
                alt={`about2 - IFT`}
            />
        </SplitLayoutsvg>
    </div>
</section>

<style lang="scss">

.Split__Imagen{

    height: auto;
    min-height: auto;
}

</style>
