---
import { ViewTransitions } from "astro:transitions";
import BtnWhatsApp from "../components/BtnWhatsApp.astro";
import MiFooter from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import MenuData from "../data/Menu.json";

interface Props {
    titulo: string;
    descripction: string;
}
const { titulo, descripction } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={descripction} />
        <link rel="icon" type="image/png" href="/img/ift.svg" />
        <title>{titulo} - Instituto de Formación Tecnologica</title>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            fetchpriority="high"
            rel="preload"
            as="font"
            href="/fonts/inter-latin-variable-full-normal.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <slot name="preload" />
        <ViewTransitions />
    </head>
    <body>
        <NavBar ArrayItems={MenuData} />
        <slot name="Banner" />
        <slot />
        <slot name="CTA" />
        <BtnWhatsApp />
        <MiFooter />
        <style is:global lang="scss">

            @font-face {
                font-family: "Inter";
                src: url("/fonts/inter-latin-variable-full-normal.woff2")
                    format("woff2-variations");
                font-weight: 100 1000;
                font-display: swap;
            }

            :root {
                --step--2: clamp(0.7378rem, 0.8125rem + -0.0996vi, 0.7901rem);
                --step--1: clamp(0.8854rem, 0.8904rem + -0.0066vi, 0.8889rem);
                --step-0: clamp(1rem, 0.9732rem + 0.119vi, 1.0625rem);
                --step-1: clamp(1.125rem, 1.0607rem + 0.2857vi, 1.275rem);
                --step-2: clamp(1.2656rem, 1.1523rem + 0.5036vi, 1.53rem);
                --step-3: clamp(1.4238rem, 1.2472rem + 0.7851vi, 1.836rem);
                --step-4: clamp(1.6018rem, 1.3441rem + 1.1455vi, 2.2032rem);
                --step-5: clamp(1.802rem, 1.4413rem + 1.6034vi, 2.6438rem);

                --step-6: clamp(2.7rem, 2.1739rem + 1.6304vi, 3.375rem);

                --alto-header: clamp(4rem, 6.531vw + 1.694rem, 4.5rem);
                --section-padding: clamp(2rem, 1.2727rem + 3.6364vw, 5rem);

                --color-Primary50: #f0f3ff;
                --color-Primary100: #e5eaff;
                --color-Primary200: #cfdbff;
                --color-Primary300: #a8baff;
                --color-Primary400: #778dff;
                --color-Primary500: #4054ff;
                --color-Primary600: #1a25ff;
                --color-Primary700: #0814f9;
                --color-Primary800_: #0610cc;
                --color-Primary900: #070fab;
                --color-Primary950: #010c74;

                --bg-color: #e5eaff;
                --color-Secondary: #282829;
                color-scheme: light;
            }

            html{
                scroll-behavior: smooth;
                scroll-padding-top: 3rem;
            }

            *,
            *::before,
            *::after {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            img {
                display: block;
                object-fit: cover;
                max-width: 100%;
                width: 100%;
                height: 100%;
                min-height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                text-indent: -9999px;
            }

            body {
                background-color: #f8f8fb;
                min-height: 100vh;
                min-height: 100svh;
                margin-top: var(--alto-header);
                font-size: var(--step-0);
                font-family: "Inter", Arial, sans-serif;
                font-weight: 400;
                font-style: normal;
                line-height: 1.45;
                overflow-x: hidden;
            }

            .wrapper {
                width: min(90%, 1100px);
                display: grid;
                margin-inline: auto;
                gap: var(--section-padding);
            }

            .superTitulo {
                font-size: var(--step-6);
                line-height: 1.1;
                text-align: center;
                font-weight: 700;
            }
            .titleSection {
                font-size: var(--step-3);
                text-align: center;
                line-height: normal;
                font-weight: 700;
            }

            section {
                padding-block: var(--section-padding);
            }

            .section-padding {
                padding-block: var(--section-padding);
            }

            .sectionColor2 {
                background-color: var(--color-Primary50);
            }

            .degradado {
                background-image: linear-gradient(
                    135deg,
                    var(--color-Primary) 0%,
                    var(--color-Secondary) 100%
                );
            }

            .footerColor {
                background: rgb(37, 37, 37);
            }

            a {
                text-decoration: none;
                display: inline-block;
            }
            li {
                list-style: none;
            }

            h1,
            .title1 {
                font-size: var(--step-3);
            }

            h2,
            .title2 {
                font-size: var(--step-2);
            }
            h3,
            .title3 {
                font-size: var(--step-1);
            }
            h4,
            .normal {
                font-size: var(--step-0);
            }
            h5,
            .small {
                font-size: var(--step--1);
            }
            h6,
            .smallx {
                font-size: var(--step--2);
            }

            .boton {
                width: max-content;
                border-radius: 0.25rem;
                padding: 0.5rem 1.5rem;
                text-align: center;
                font-weight: 600;

                &--primary {
                    @extend .boton;
                    color: #fff;
                    background-color: var(--color-Primary500);

                    &:hover {
                        background-color: var(--color-Primary600);
                    }
                }

                &--secondary {
                    @extend .boton;
                    color: var(--color-Secondary);
                    border: 3px solid var(--color-Secondary);
                }
            }

            .animation-loader {
                background-color: #d7e1e7;
                animation: loader 2s infinite alternate;
            }

            @keyframes loader {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.5;
                }
                100% {
                    opacity: 1;
                }
            }

            .Scroll-Fade {
                --_delay: var(--delay, 0s);
                opacity: 0;
                transform: translateY(50px);
                transition:
                    transform 1s var(--_delay),
                    opacity 1s var(--_delay);

                &.loader {
                    opacity: 1;
                    transform: translateY(0px);
                }

                &.delay5 {
                    --delay: 5s;
                }
            }

            .Order-Bottom-Left {
                order: 1;
                @media (width > 768px) {
                    order: 0;
                }
            }

            .Order-Bottom-Rigth {
                order: 1;
            }

            .Order-Top-Left {
                order: 0;
            }

            .Order-Top-Rigth {
                order: 0;
                @media (width > 768px) {
                    order: 1;
                }
            }
        </style>

        <script>
            document.addEventListener("astro:page-load", function () {
                const images =
                    document.querySelectorAll<HTMLImageElement>(
                        "img[data-srcx]",
                    );
                const sectionCTA =
                    document.querySelectorAll<HTMLImageElement>(
                        "section[data-cta]",
                    );

                const imgOptions = {
                    rootMargin: `0px 0px 200px 0px`,
                };
                const imgObserver = new IntersectionObserver(
                    (entries, imgObserver) => {
                        entries.forEach((entry) => {
                            if (!entry.isIntersecting) return;
                            const img = entry.target as HTMLImageElement;
                            img.src = img.getAttribute("data-srcx");
                            imgObserver.unobserve(entry.target);

                            img.addEventListener("load", () => {
                                setTimeout(() => {
                                    img.parentElement.classList.remove(
                                        "animation-loader",
                                    );
                                    img.parentElement.classList.add("loaderOk");
                                }, 1200);
                            });
                        });
                    },
                    imgOptions,
                );

                const imgOptionsCTA = {
                    rootMargin: `0px 0px 700px 0px`,
                };
                const imgObserverCTA = new IntersectionObserver(
                    (entries, imgObserver) => {
                        entries.forEach((entry) => {
                            if (!entry.isIntersecting) return;

                            const CTA = entry.target as HTMLElement;
                            CTA.classList.remove("animation-loader");
                            CTA.classList.add("background");
                            imgObserver.unobserve(entry.target);
                        });
                    },
                    imgOptionsCTA,
                );

                images.forEach((img) => {
                    imgObserver.observe(img);
                });

                sectionCTA.forEach((img) => {
                    imgObserverCTA.observe(img);
                });

                //articles scroll fade

                const $SectionFade =
                    document.querySelectorAll<HTMLImageElement>(
                        'article[class*="Scroll-Fade"]',
                    );

                const imgOptionsFade = {
                    rootMargin: `0px`,
                    threshold: 0.3,
                };
                const imgObserverFadeScroll = new IntersectionObserver(
                    (entries, imgObserver) => {
                        entries.forEach((entry) => {
                            if (!entry.isIntersecting) return;

                            const CTA = entry.target as HTMLElement;
                            CTA.classList.add("loader");
                            console.log("section fade insertada");
                            // CTA.classList.add("background");
                            imgObserver.unobserve(entry.target);
                        });
                    },
                    imgOptionsFade,
                );

                $SectionFade.forEach((img) => {
                    imgObserverFadeScroll.observe(img);
                });
            });
        </script>
    </body>
</html>
