---
import "../scss/index.scss";
import { ViewTransitions } from "astro:transitions";
import BtnWhatsApp from "../components/BtnWhatsApp.astro";
import MiFooter from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import MenuData from "../data/Menu.json";

interface Props {
    titulo: string;
    descripction: string;
}
const { titulo, descripction } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={descripction} />
        <meta name="theme-color" content="#0610cc" />
        <link rel="icon" type="image/png" href="/img/ift.svg" />
        <title>{titulo} - Instituto de Formación Tecnologica</title>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            fetchpriority="high"
            rel="preload"
            as="font"
            href="/fonts/inter-latin-variable-full-normal.woff2"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <slot name="preload" />
        <ViewTransitions />
    </head>
    <body>
        <NavBar ArrayItems={MenuData} />
        <slot name="Banner" />
        <slot />
        <slot name="CTA" />
        <BtnWhatsApp />
        <MiFooter />
        
    </body>
    <script>
        import { carruselProduct } from "../scripts/Carrusel-Product";

        document.addEventListener("astro:page-load", () => {
            carruselProduct();
        });
    </script>
    
</html>
